
.btn {
  padding: 10px;
  border-radius: 5px;
}

.primary {
  background-color: green;
  color: white;
}

.error {
  background-color: red;
}

.secondary {
  background-color: yellow;
}

.black {
  background-color: black;
  color: white;
  border: 1px solid #fff;
}
.purple{
  background-color: #9f00ff;
  border: none;
  padding: 10px;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}